In [2]:
%matplotlib inline
import numpy as np
import pandas as pd

In [3]:
train_data = pd.read_csv('../../train.csv',sep=',')

In [4]:
train_data.describe()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
count,3.749528e+06,3.749528e+06,93262.000000,3.749528e+06,3.749528e+06,3.749528e+06,3.749528e+06,3.749528e+06
mean,2.487300e-02,2.418317e+05,242645.358013,3.261575e+03,1.405349e+06,3.702799e+03,1.222590e+00,1.605879e+00
std,1.557380e-01,3.958793e+04,39285.385532,1.829643e+03,8.088094e+05,1.923724e+03,5.744428e-01,8.491127e-01
min,0.000000e+00,1.700000e+05,170005.000000,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,2.116270e+05,211626.000000,1.540000e+03,7.058698e+05,2.579000e+03,1.000000e+00,1.000000e+00
50%,0.000000e+00,2.418390e+05,242106.000000,3.465000e+03,1.407062e+06,3.322000e+03,1.000000e+00,1.000000e+00
75%,0.000000e+00,2.722170e+05,272344.000000,4.565000e+03,2.105989e+06,4.896000e+03,1.000000e+00,2.000000e+00
max,1.000000e+00,3.023590e+05,302359.000000,6.582000e+03,2.805118e+06,7.645000e+03,4.000000e+00,3.000000e+00

In [5]:
creative_number = train_data.creativeID.unique().shape[0]
user_number = train_data.userID.unique().shape[0]
print("train.csv including userID number is:%s and the creativeID number is: %s."%(user_number,creative_number))
train_data.head()

train.csv including userID number is:2595627 and the creativeID number is: 6315.

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [7]:
app_cate_data = pd.read_csv('../../app_categories.csv',sep=',')
appID_number = np.size(app_cate_data.appID.unique())
appID_appCategory_number = np.size(app_cate_data.appCategory.unique())
print("app_categories.csv including appID number is:%s and categories number is: %s"%(appID_number,appID_appCategory_number))
app_cate_data.head()

app_categories.csv including appID number is:217041 and categories number is: 28

   appID  appCategory
0     14            2
1     25          203
2     68          104
3     75          402
4     83          203

In [8]:
app_cate_data.appCategory.unique()

array([  2, 203, 104, 402, 301, 407, 101, 408, 106,   0, 201, 409, 503,
       210, 108, 211,   1, 110, 405, 401, 109, 103, 209, 406, 303, 403,
       105, 204])

In [9]:
ad_data = pd.read_csv('../../ad.csv',sep=',')
appID_number = np.size(ad_data.appID.unique())
creativeID_number = np.size(ad_data.creativeID.unique())
print("ad.csv including appID number is:%s and the creativeID number is: %s."%(appID_number,creativeID_number))
ad_data.head()

ad.csv including appID number is:50 and the creativeID number is: 6582.

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [10]:
ad_data.appID.unique()

array([ 14, 465, 389, 434, 123, 421, 328, 218, 116, 304, 336, 356, 360,
       109, 383,  84, 137, 420, 350, 198, 100, 127, 286, 319, 205, 229,
       150, 293, 113, 146, 428,  83,  68, 105, 271, 195, 262, 278, 283,
       284,  75,  88, 472, 419, 160, 391, 442, 206,  25, 327])

## 这里提示我们一个重要信息，就是目前广告推送的app只是有关这50个appID，上面的app_category.csv文件中包含了21万个appID,但是目前和广告相关联的**却只有50个**

In [11]:
user_app_action_data = pd.read_csv('../../user_app_actions.csv',sep=',')
user_number = np.size(user_app_action_data.userID.unique())
app_number = np.size(user_app_action_data.appID.unique())
print("user_app_action.csv including appID number is:%s and the userID number is: %s."%(app_number,user_number))
ad_data.head()

user_app_action.csv including appID number is:100923 and the userID number is: 781112.

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1