In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

# train.csv根据属性特征追加 列的信息

In [12]:
train_data = pd.read_csv('../../train.csv',sep=',')

In [3]:
creative_number = train_data.creativeID.unique().shape[0]
user_number = train_data.userID.unique().shape[0]
print("train.csv including userID number is:%s and the creativeID number is: %s."%(user_number,creative_number))
train_data.head()

train.csv including userID number is:2595627 and the creativeID number is: 6315.

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [35]:
colums_list = ['creativeID','positionID','connectionType','telecomsOperator']

def add_colum(train_data,colums_list):
    for columName in colums_list:
        new_colum = columName+'Pro'
        featurePro = train_data.groupby(columName)['label'].mean()
        featurePro = featurePro.rename(new_colum)
        print(featurePro)
        featurePro = pd.DataFrame(feature)
        featurePro.reset_index(level=0,inplace=True,drop=True)
        train_data = train_data.merge(featurePro,left_on=columName,right_on=columName,how='left')   
    return train_data

In [36]:
temp = add_colum(train_data,colums_list)

creativeID
1       0.000000
2       0.000000
3       0.000000
4       0.000000
5       0.000000
6       0.006711
7       0.000000
8       0.250000
9       0.000000
10      0.000000
11      0.000000
12      0.066667
13      0.000000
14      0.000000
15      0.037500
16      0.000000
17      0.000000
18      0.000000
19      0.115385
20      0.000000
21      0.000000
22      0.101538
23      0.020833
24      0.000000
25      0.000000
26      0.023973
27      0.017241
28      0.000000
29      0.000000
30      0.000000
          ...
6553    0.000000
6554    0.000000
6555    0.028708
6556    0.000000
6557    0.000000
6558    0.000000
6559    0.080717
6560    0.000000
6561    0.011905
6562    0.000000
6563    0.500000
6564    0.222222
6565    0.000000
6566    0.004464
6567    0.157451
6568    0.000000
6569    0.000000
6570    0.000000
6571    0.000000
6572    0.000000
6573    0.000000
6574    0.050000
6575    0.000000
6576    0.000000
6577    0.000000
6578    0.000000
6579    0.000000
6580    0.000000
6581    0.000000
6582    0.000000
Name: creativeIDPro, dtype: float64
connectionType
0    0.003829
1    0.029165
2    0.008229
3    0.007050
4    0.006485
Name: connectionTypePro, dtype: float64

KeyError: 'connectionType'

            creativePro
creativeID
1              0.000000
2              0.000000
3              0.000000
4              0.000000
5              0.000000
6              0.006711
7              0.000000
8              0.250000
9              0.000000
10             0.000000
11             0.000000
12             0.066667
13             0.000000
14             0.000000
15             0.037500
16             0.000000
17             0.000000
18             0.000000
19             0.115385
20             0.000000
21             0.000000
22             0.101538
23             0.020833
24             0.000000
25             0.000000
26             0.023973
27             0.017241
28             0.000000
29             0.000000
30             0.000000
...                 ...
6553           0.000000
6554           0.000000
6555           0.028708
6556           0.000000
6557           0.000000
6558           0.000000
6559           0.080717
6560           0.000000
6561           0.011905
6562           0.000000
6563           0.500000
6564           0.222222
6565           0.000000
6566           0.004464
6567           0.157451
6568           0.000000
6569           0.000000
6570           0.000000
6571           0.000000
6572           0.000000
6573           0.000000
6574           0.050000
6575           0.000000
6576           0.000000
6577           0.000000
6578           0.000000
6579           0.000000
6580           0.000000
6581           0.000000
6582           0.000000

[6315 rows x 1 columns]

In [9]:
train_data.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,creativePro_x,creativePro_y
0,0,170000,NaN,3089,2798058,293,1,1,0.000000,0.000000
1,0,170000,NaN,1259,463234,6161,1,2,0.001855,0.001855
2,0,170000,NaN,4465,1857485,7434,4,1,0.016669,0.016669
3,0,170000,NaN,1004,2038823,977,1,1,0.011585,0.011585
4,0,170000,NaN,1887,2015141,3688,1,1,0.040847,0.040847


# appID的属性类别信息

In [7]:
app_cate_data = pd.read_csv('../../app_categories.csv',sep=',')
appID_number = np.size(app_cate_data.appID.unique())
appID_appCategory_number = np.size(app_cate_data.appCategory.unique())
print("app_categories.csv including appID number is:%s and categories number is: %s"%(appID_number,appID_appCategory_number))
app_cate_data.head()

app_categories.csv including appID number is:217041 and categories number is: 28

   appID  appCategory
0     14            2
1     25          203
2     68          104
3     75          402
4     83          203

In [8]:
app_cate_data.appCategory.unique()

array([  2, 203, 104, 402, 301, 407, 101, 408, 106,   0, 201, 409, 503,
       210, 108, 211,   1, 110, 405, 401, 109, 103, 209, 406, 303, 403,
       105, 204])

In [9]:
ad_data = pd.read_csv('../../ad.csv',sep=',')
appID_number = np.size(ad_data.appID.unique())
creativeID_number = np.size(ad_data.creativeID.unique())
print("ad.csv including appID number is:%s and the creativeID number is: %s."%(appID_number,creativeID_number))
ad_data.head()

ad.csv including appID number is:50 and the creativeID number is: 6582.

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [10]:
ad_data.appID.unique()

array([ 14, 465, 389, 434, 123, 421, 328, 218, 116, 304, 336, 356, 360,
       109, 383,  84, 137, 420, 350, 198, 100, 127, 286, 319, 205, 229,
       150, 293, 113, 146, 428,  83,  68, 105, 271, 195, 262, 278, 283,
       284,  75,  88, 472, 419, 160, 391, 442, 206,  25, 327])

## 这里提示我们一个重要信息，就是目前广告推送的app只是有关这50个appID，上面的app_category.csv文件中包含了21万个appID,但是目前和广告相关联的**却只有50个**

In [11]:
user_app_action_data = pd.read_csv('../../user_app_actions.csv',sep=',')
user_number = np.size(user_app_action_data.userID.unique())
app_number = np.size(user_app_action_data.appID.unique())
print("user_app_action.csv including appID number is:%s and the userID number is: %s."%(app_number,user_number))
ad_data.head()

user_app_action.csv including appID number is:100923 and the userID number is: 781112.

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1